<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
  <!-- Logo Text -->
  <span class="-translate-y-0.5">Srd</span>
</a>
